/* @font-face {
    font-family: 'Bogle-Regular';
    src: url(../fonts/BogleWeb-Black.woff);
  } */
#background{
    text-align: center;
    background-image: url(../img/Back-home.png);
    
    min-width: 360px;
    min-height: 696px;
    background-size: cover;
    background-position: center;
}
#banner-divcontainer{
    width: 666px;
    height: 244px;
    position: relative;
}

.banner-divcontainer{
    width: 666px;
    height: 244px;
    position: relative;
}
#banner-container{
    background-image: url(../img/banner.png);
    border: 2px solid #0071CE;
    width: 333px;
    height: 122px;
    display: flex;
    /* background: rgba(203, 55, 55, 0.47); */
    border-radius: 7px;
    /* padding: 5px; */
    position: absolute;
    margin-top: 135px;
    margin-left: 8px;
}
#image-container{
    width: 119px;
    height: 122px;
}



/* #banner-container{
    background-image: url(../img/banner.png);
    border: 2px solid #0071CE;
    width: 333px;
    height: 122px;
    display: flex; */
    /* background: rgba(203, 55, 55, 0.47); */
    /* border-radius: 7px;
}
#image-container{
    width: 119px;
    height: 122px;
} */
#gif-img{
    width: 113px;
    height: 97px;
    margin-top: 15px;
    border-radius: 15px;
}
#text-button{
    padding: 10px 30px 10px 30px;
    width: 154px;
    margin-left: 45px;
    
}
#text-button p{
    font-family: 'Bogle-Bold';
    font-style:normal;
    font-weight: 900;
    font-size: 13px;
    color: white;
}
#enter-btn{
    width: 119px;
    height: 28px;
    background: #FFC220;
    border-radius: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    font-size: 12px;
    border: none;
    align-items: center;
    text-align: center;
    color: #0071ce;
    justify-content: center;
}
.ReactModalPortal{
    inset: 0px;
    background-color: rgb(230, 63, 63);
}
